.w {
	width: 1200px;
	margin: 0 auto;
}

header {
	height: 84px;
	border-bottom: 2px solid #C81623;
}
header .logo {
	padding: 18px;
}

.registerarea {
	height: 520px;
	border: 1px solid #ccc;
	margin-top: 20px;
}